a {
    text-decoration: none;
}

@font-face {
    font-family: "Dancing Script";
    src: url(../fonts/static/DancingScript-Regular.ttf);
}

body {
    font-family: "Dancing Script";
}

:root {
    --style_color_one: aqua;
    --style_colore_two: rgb(245, 15, 233);
    --style_colore_three: rgb(64, 240, 15);
    --new_font: "Dancing Script";

}

.href {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.h1 {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.p {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 30px;
    color: #7d7987;
}

.h2 {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}

.href:first-child {
    background-color: var(--style_color_one);
}

.href:nth-child(2) {
    background-color: var(--style_colore_two);
}

.href:last-child {
    background-color: var(--style_colore_three);
}

.href:hover {
    font-size: 25px;
}

.href:active {
    color: blue;
}